@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');

body{
    background-color: #EDEDEE;
    background-image: url(maxresdefault60.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@media all and (orientation:portrait) {
    body {
        background-image: url(Skazka1.png);
    }
}
@media all and (orientation:landscape) {
    body {
        background-image: url(maxresdefault60.png);
    }
}

.header{
    background-color: #009387;
    height: 12vw;
    padding-top: 10px;
    min-width: 550px;
}

.header::after{
    content: "";
    display: table;
    clear: both;
}

.content{
    background-color: white;
    width:70%; 
    margin-left: auto; 
    margin-right:auto; 
    margin-top: -3.5vw;
    height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding: 30px 30px
}

.header-text{
    color:white;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: 300;
    float: left;
    margin-top: 5px;
    font-size: 5vw;
}

.lang-form{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 3vw;
    font-weight: 400;
    color: white;
}

.lang-form p{
    margin-top:0;
    margin-bottom:5px;
}

form label{
    font-weight: 400;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background-color: dimgray;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

button {
    display: block;
    cursor: pointer;
    outline:none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}

.test-btn{
    font-size:3.5vw;
    background-color: white;
    box-shadow: none;
    padding: 8px 20px;
    border-radius: 0;
}

.test-btn:hover, .test-btn:active{
    background-color: #DEDEDE;
}

.end-btn{
    font-size: 3vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    background-color: #009186;
    color: #BFE7E4; 
    margin-top: 40px;
}

button:hover{
    background-color: 
}

#question{
    font-size: 3.5vw;
    margin: 0 0 30px 0;
}

.option{
    font-size: 3vw;
    margin: 8px 0;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: none;
    text-align: left;
}

#result{
    border-radius: 2px;
    font-size: 1.5vw;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
}